<div class="container">
  <h1 class="mt-4 mb-4">About Us</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>Our Story</h2>
      <p>
        Welcome to Jungle, your one-stop destination for all things green! As
        passionate plant enthusiasts, we understand the joy that comes from
        surrounding yourself with nature's beauty. That's why we've curated a
        diverse selection of lush plants and vibrant flowers to bring life into
        your home.
      </p>
      <p>
        Our journey began in the heart of a bustling city, where we noticed a
        lack of accessible and affordable options for plant lovers like
        ourselves. Determined to make a difference, we embarked on a mission to
        create a platform where everyone can discover and indulge in the wonders
        of gardening, regardless of space or expertise.
      </p>
      <p>
        At Jungle, we pride ourselves on offering only the finest quality plants
        sourced directly from trusted growers and nurseries. Each plant is
        handpicked with care, ensuring that it arrives at your doorstep thriving
        and ready to brighten up your space.
      </p>
      <p>
        Whether you're a seasoned green thumb or a budding enthusiast, we're
        here to support you every step of the way. From stylish pots and
        planters to premium potting soil and essential accessories, we've got
        everything you need to nurture your indoor oasis.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Our Mission</h2>
      <p>
        Our mission at Jungle is simple: to inspire and empower people to
        cultivate a deeper connection with nature through plants. We believe
        that greenery has the power to transform lives, improve well-being, and
        create a more sustainable future for generations to come.
      </p>
      <p>
        Sustainability lies at the core of everything we do. We're committed to
        minimizing our environmental footprint by promoting eco-friendly
        practices, reducing waste, and supporting ethical suppliers. Together,
        we can make a positive impact on the planet while enjoying the beauty of
        nature in our homes.
      </p>
      <p>
        Join us on this green journey and let's cultivate a greener, healthier,
        and more vibrant world together. Whether you're a seasoned plant parent
        or just getting started, there's always room to grow at Jungle.
      </p>
    </div>
  </div>
</div>
